<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body class="profile">
	<nav th:replace="fragments/layout :: navbar"></nav>

	<div class="container">
		<h1>Message board</h1>
		<div id="personal-post">
			<form th:action="@{/board}" method="POST">
				<label for="exampleFormControlTextarea1">Write a new post to your network</label>
				<textarea class="form-control" name="content" placeholder="Write max. 250 characters" rows="3"></textarea>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</div>
		<span th:if="${messages.empty}">Your network has been quiet. Be the first to post something!</span>
		<span th:unless="${messages.empty}">
			<div th:each="message: ${messages}">
				<div class="mssg-base">
					<div class="mssg-header">
						<span th:text="${#dates.format(message.created, 'dd-MM-yyyy HH:mm')}">Date</span>
						<span> - </span>
						<span th:text="${message.authorName}">Name</span>
						<span> posted:</span>
						<span class="likes">
							<span><i class="fas fa-paw"></i> : </span><span th:text="${message.likes}" >upvotes</span>
						</span>
					</div>
					<div class="mssg-posting">
						<div class="mssg-content"><span th:text="${message.content}" class="posting" >Content</span></div>
						<div class="mssg-button"><form th:action="@{/board/{message_id}/like(message_id=${message.id})}" method="POST"><button type="submit" class="btn btn-primary">Like this message</button></form></div>
					</div>
					<div class="comment-base">
						<span th:if="${message.comments.empty}">No comments yet.</span>
						<span th:unless="${message.comments.empty}">
							<div th:each="comment,iterStat: ${message.comments}" th:if="${iterStat.index}<10">
								<div>
									<span th:text="${#dates.format(comment.created, 'dd-MM-yyyy HH:mm')}">Date</span>
									<span> - </span>
									<span th:text="${comment.commentorName}">Name</span>
									<span> commented:</span>
								</div>
								<div><span th:text="${comment.content}">Content</span></div>
							</div>
						</span>
						<div class= "comment-form">
							<form th:action="@{/board/{message_id}(message_id=${message.id})}" method="POST">
								<label>Comment this post</label>
								<textarea class="form-control" name="content" placeholder="Write max. 250 characters" rows="2"></textarea>
								<button type="submit" class="btn btn-primary">Post comment</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</span>
	</div>
	<span th:replace="fragments/layout :: scripting"></span>
</body>
</html>