<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
	<nav th:replace="fragments/layout :: navbar"></nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1>Pointy Professionals</h1>
					<h3>The Only Spike-friendly Resume App</h3>
                                      <hr></hr>
          <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/signup}"><button class="btn-default btn-lg"><i class=></i>Sign up</button></a>
            <a th:href="@{/me}"><button class="btn-default btn-lg"><i class=></i>Log in</button></a>
          </div>
          <div sec:authorize="isAuthenticated()">
            <a th:href="@{/board}"><button class="btn-default btn-lg"><i class=></i>See what your contacts are up to!</button></a>
          </div>
				</div>
			</div>
		</div>
	</div>
	<span th:replace="fragments/layout :: scripting"></span>
</body>
</html>