<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body class="profile">
  <nav th:replace="fragments/layout :: navbar"></nav>
	<div class="container">
    <h1>Hello!</h1>
    <h1 th:text="${account.name}">Name</h1>
    <p>Secret!</p>
    <span th:if="${account.picture == null}">
        <img th:src="@{/images/sonic_hog.jpg}" alt="Profile Picture" width="400" height="200"/>
    </span>
    <span th:unless="${account.picture == null}">
      <p>You should see your own picture!</p>
      <img th:src="*{'data:image/jpg;base64,'+ image}" alt="Profile Picture" width="400" height="200" />
    </span>
  </div>
  <div class ="container">
    <h3>Your skills:</h3>
    <span th:if="${skills.empty}">
        <p>You haven't listed any skills!</p>
    </span>
    <span th:unless="${skills.empty}">
      <ul th:each="skill: ${skills}">
        <li th:text="${skill.name}">Skill name</li>
      </ul>
      <p>Showing some skills</p>
    </span>
    <span th:if="${#authentication.name } == ${account.username}"><a th:href="@{/me/settings}"><button class="btn btn-primary">Alter your profile</button></a></span>
    <span th:if="${#authentication.name } == ${account.username}">
      <div th:if="${requests.empty}"></div>
      <div th:unless="${requests.empty}">
        <h3>You have pending requests!</h3>
        <ul th:each="request: ${requests}">
          <li><span th:text="${request.submitter.name}">Submitter name</span> is asking to be your contact!
            <form th:action="@{/contact/{sender}/{profile_target}/add(sender=${request.submitter.username},profile_target=${account.profile})}" method="POST" >
              <button type="submit" class="btn btn-primary">Accept as contact</button>
            </form>
            <form th:action="@{/contact/{sender}/{profile_target}/delete(sender=${account.username},profile_target=${request.submitter.profile})}" method="POST" >
              <button type="submit" class="btn btn-primary">Reject contact</button>
            </form>
          </li>
        </ul>
        <p>Showing some pending contacts</p>
      </div>
    </span>
    <div sec:authorize="isAuthenticated()">
      <span th:if="${#authentication.name } != ${account.username}">
        <form th:action="@{/contact/{sender}/{profile_target}(sender=${#authentication.name},profile_target=${account.profile})}" method="POST"><button type="submit" class="btn btn-primary">Add this user to your contact network</button></form>
      </span>
    </div>
    <div>
      <span th:if="${contacts.empty}"></span>
      <span th:unless="${contacts.empty}">
          <h3>All my contacts</h3>
          <ul th:each="contact : ${contacts}">
              <li><span th:text="${contact.name}">Contact names</span>
                <span th:if="${#authentication.name } == ${account.username}">
                  <form th:action="@{/contact/{sender}/{profile_target}/delete(sender=${#authentication.name},profile_target=${contact.profile})}" method="POST" >
                  <button type="submit" class="btn btn-primary">Delete this contact</button>
                  </form>
                </span>
              </li>
          </ul>
      </span>
    </div>
  </div>
	<span th:replace="fragments/layout :: scripting"></span>
</body>
</html>