<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
        <title>Pointy Professionals</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"  />
</head>
<body class="profile">
	<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}">Pointy Professionals</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/me}">Home</a></li>
        <li><a href="https://github.com/piaand/mini-linkedin">About</a></li>
        <li><a href="#">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign up <i class="fas fa-user-plus"></i></a></li>
        <li><a href="#">Login <i class="fas fa-user"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
	<div class="container">
    <h1>Hello!</h1>
    <h1 th:text="${account.name}">Name</h1>
    <p>Secret!</p>
    <span th:if="${account.picture == null}">
        <img th:src="@{/images/sonic_hog.jpg}" alt="Profile Picture" width="400" height="200"/>
    </span>
    <span th:unless="${account.picture == null}">
      <p>You should see your own picture!</p>
      <img th:src="*{'data:image/jpg;base64,'+ image}" alt="Profile Picture" width="400" height="200" />
    </span>
    <form th:action="@{/profile-picture}" method="POST" enctype="multipart/form-data">
      <input type="file" name="picture" />
      <button type="submit" class="btn btn-primary">Change your profile picture</button>
    </form>
    <form th:action="@{/profile-picture/{profile}/delete(profile=${account.profile})}" method="POST" enctype="multipart/form-data">
      <button type="submit" class="btn btn-primary">Delete your profile picture</button>
    </form>
  </div>
  <div class ="container">
    <h3>Your skills:</h3>
    <span th:if="${skills.empty}">
        <p>You haven't listed any skills!</p>
    </span>
    <span th:unless="${skills.empty}">
      <ul th:each="skill: ${skills}">
        <li th:text="${skill.name}">
      </ul>
      <p>Showing some skills</p>
    </span>
  </div>
	<script src="https://code.jquery.com/jquery-3.4.0.js"
  	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>