<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body class="profile">
  <nav th:replace="fragments/layout :: navbar"></nav>
  <div>
    <div th:replace="fragments/profile :: picture"></div>
    <form th:action="@{/profile/{profile}/profile-picture(profile=${account.profile})}" method="POST" enctype="multipart/form-data">
      <input type="file" name="picture" />
      <button type="submit" class="btn btn-primary" >Change your profile picture</button>
    </form>
    <form th:action="@{/profile/{profile}/profile-picture/delete(profile=${account.profile})}" method="POST">
      <button type="submit" class="btn btn-primary">Delete your profile picture</button>
    </form>
  </div>
  <div class ="container">
    <h3>Your skills:</h3>
    <span th:if="${skills.empty}">
        <p>You haven't listed any skills!</p>
    </span>
    <span th:unless="${skills.empty}">
      <ul th:each="skill: ${skills}">
        <li th:text="${skill.skillName}">Skill name</li>
        <form th:action="@{/profile/{profile}/skills/{id}/delete(profile=${account.profile},id=${skill.skillId})}" method="POST" >
          <button type="submit" class="btn btn-primary">Delete this skill</button>
        </form>
      </ul>
      <p>Showing some skills</p>
    </span>
  <div>
    <form th:action="@{/profile/{profile}/skills(profile=${account.profile})}" method="POST">
      <input type="text" name="skill" placeholder="Name your skill"/>
      <button type="submit" class="btn btn-primary">Add a skill</button>
    </form>
  </div>
  <a th:href="@{/me}"><button class="btn btn-primary" >Back to your profile page</button></a>
  </div>
  <span th:replace="fragments/layout :: scripting"></span>
</body>
</html>